[Desktop Entry]
Name=Helix (Terminal)
Exec=foot -e hx %F
Terminal=false
Type=Application
Categories=Utility;TextEditor;Development;
MimeType=text/plain;application/x-empty;
